body{
    background-color: rgb(255, 0, 0);
}
.name_of_face, #result_face_name, #result_face_accuracy{
    color: rgb(0, 0, 0);
}
#camera{
    width:350px;
    height: 300px;
    border: 2px dashed black;
}
.heading{
    width: 80%;
    font-size: 25px;
    color: rgb(217, 255, 0);
    font-weight: bold;
}
